* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 0.5rem;
    /* center */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

table {
    white-space: pre;
    font-size: 1.2rem;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    text-align: center;
    border: 1px solid black;
    padding: 0 1rem;
    line-height: 1.6rem;
}

.room-header {
    padding-top: 1rem;
    border-right: hidden;
    border-left: hidden;
    padding-bottom: 0.2rem;
    line-height: 1.3;
}

.username {
    font-family: 'CTMKF', sans-serif;
}

.wide-char {
    font-family: 'CTMKF', sans-serif;
    font-size: 0.5rem;
    transform: scaleY(2);
    display: inline-block;
}

.data-header {
    background-color: lightgray;
}

.conn-fail {
    padding: 0 0.1rem;
    font-size: 1rem;
}

.mii-header {
    padding: 0 0.4rem;
}

#loading {
    font-weight: bold;
    font-size: 2rem;
}

#top-container {
    display: none;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.top-stat {
    font-weight: normal;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.highlighted {
    background-color: rgb(255, 255, 132);
}

#home-link {
    color: black;
}

.room-link {
    color: black;
}

.guest-td {
    padding: 0.2rem;
    border-left: hidden;
}

.joinable {
    color: green;
}

.not-joinable {
    color: darkred;
}

.split-room {
    color: brown;
}

tbody > tr:first-child {
    border-top: hidden;
}

@media (max-width: 720px) {
    body {
        font-size: 0.8rem;
    }

    #top-container {
        font-size: 0.8rem;
    }

    #settings {
        flex-direction: column;
        gap: 0;
    }

    table {
        font-size: 0.8rem;
    }

    th, td {
        padding: 0 0.4rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .conn-fail {
        font-size: 0.75rem;
    }

    #loading {
        font-size: 1.5rem;
    }

    .wide-char {
        font-size: 0.3rem;
    }
}